.btn-primary {
    background-color: #1a75ff;
    ;
}

.btn-secondary {
    background-color: #b3b3b3;
}

.btn-success {
    background-color: #53c653;
}

.btn-danger {
    background-color: #ff6666;
}

