/* Your CSS code here */

/* 
This css sheet is linked to practice.html
You can style tags, classes (.) or ids (#) from this file.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.custom-color {
  background-color: #76b517;
}
.custom-color-light {
  background-color: #bbe281;
}

/* INTRO */

.section-banner {
  background-image: url("/Exercise_B/assets/images/flowershop.jpg");
  position: relative;
}

.color-overlay {
  background-color: rgba(0, 0, 0, 0.396);
  height: 60vh;
}
